/.vscode
/1092.cpp
/2581.cpp
/3517.cpp
/3560.cpp
/5170.cpp
/5804.cpp
/7009.cpp
/8069.cpp
/8653.cpp
/a.exe
/array.cpp
/arrow.cpp
/auto.cpp
/baek_1992.cpp
/baek_2630.cpp
/building.cpp
/call.cpp
/cpaper.cpp
/cpaper2.cpp
/hair.cpp
/histogram.cpp
/histogram2.cpp
/histogram3.cpp
/histogram4.cpp
/histogram5.cpp
/line.cpp
/map1.cpp
/map2.cpp
/meeting.cpp
/memo.txt
/money.cpp
/pair.cpp
/point.cpp
/queue.cpp
/queue2.cpp
/range.cpp
/stack.cpp
/state.cpp
/state2.cpp
/state3.cpp
/state4.cpp
/test.cpp
/tower.cpp
/vector1.cpp
/vector2.cpp